@import "../../style/vars";

.booking-page {
  display: flex;
  width: 100%;
  align-items: center;
  background-color: #f5f5f5;
  padding: 69px 111px;
  position: relative;
  @media (max-width: 850px) {
    padding: 69px 20px;
  }
  @media (max-width: 500px) {
    padding: 69px 10px;
  }
  .booking-btn-back {
    position: absolute;
    top: 69px;
    left: 10px;
    @media (max-width: 600px) {
      left: 0px;
      top: 35px;
    }
    .booking-btn {
      border: none;
      overflow: hidden;
      background: transparent;
      img {
        width: 49px;
        height: 49px;
      }
    }
  }
  .booking-container {
    display: flex;
    flex-direction: column;
    row-gap: 30px;
    background-color: white;
    padding: 54px 44px;
    border-radius: 30px;
    @media (max-width: 600px) {
      padding: 20px 0;
      background: transparent;
    }
    .booking-container-title {
      font-family: Noto Sans;
      font-size: 32px;
      font-weight: 600;
      line-height: 43.58px;
      color: rgba(48, 48, 48, 1);
    }
    .containers {
      display: flex;
      align-items: flex-start;
      column-gap: 56px;
      @media (max-width: 1250px) {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
      }
      @media (max-width: 850px) {
        align-items: flex-start;
      }
      @media (max-width: 550px) {
        width: 100%;
      }
      .container__rightitem {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        border: 1px solid rgba(224, 224, 224, 1);
        padding: 30px 30px 37px 30px;
        border-radius: 26px;
        max-width: 528px;
        width: 100%;
        @media (max-width: 500px) {
          max-width: 100%;
          width: auto;
          padding: 10px;
        }
        @media (max-width: 450px) {
          padding: 0;
        }
        .container__rightitem-description-room {
          display: flex;
          align-items: center;
          column-gap: 20px;
          .booking-img {
            width: 190px;
            height: 153px;
            margin-bottom: 20px;
            img {
              width: 100%;
              height: 100%;
              border-radius: 20px;
            }
          }
          @media (max-width: 450px) {
            flex-direction: column;
          }
          .booking-description-room {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            row-gap: 6px;

            span {
              font-family: Noto Sans;
              font-size: 24px;
              font-weight: 600;
              line-height: 40px;
              color: rgba(48, 48, 48, 1);
            }
            p {
              color: rgba(97, 94, 94, 1);
              font-family: Noto Sans;
              font-size: 18px;
              font-weight: 400;
              line-height: 24.52px;
            }
            .raiting {
              display: flex;
              align-items: center;
              column-gap: 12px;
              .raiting__item {
                display: flex;
                align-items: center;
                column-gap: 8px;
                .raiting-feedback {
                  display: flex;
                  align-items: center;
                  column-gap: 5px;
                }
                img {
                  width: 24px;
                  height: 24px;
                }
              }
            }
          }
        }
        .container__rightitem-description-price {
          padding-top: 30px;
          padding-bottom: 52px;
          border-top: 2px solid rgba(228, 228, 228, 1);
          border-bottom: 2px solid rgba(228, 228, 228, 1);
          width: 100%;
          @media (max-width: 650px) {
            padding-bottom: 10px;
            padding-top: 12px;
          }
          @media (max-width: 450px) {
            width: auto;
          }
          .container__rightitem-description-price-title {
            font-family: Noto Sans;
            font-size: 24px;
            font-weight: 600;
            line-height: 40px;
            color: rgba(48, 48, 48, 1);
            margin-bottom: 16px;
          }
          .container__rightitem-description-price-box {
            display: flex;
            align-items: flex-start;
            flex-direction: column;
            row-gap: 16px;
            width: 100%;
            @media (max-width: 450px) {
              width: auto;
            }
            .description-price-subbox {
              display: flex;
              align-items: center;
              justify-content: space-between;
              width: 100%;
              @media (max-width: 450px) {
                width: auto;
              }
              @media (max-width: 450px) {
                display: flex;
                justify-content: flex-start;
                column-gap: 10px;
              }
              span {
                font-family: Noto Sans;
                font-size: 18px;
                font-weight: 400;
                line-height: 24.52px;
                color: rgba(97, 94, 94, 1);
              }
            }
          }
        }
        .container__rightitem-description-allprice {
          display: flex;
          align-items: center;
          justify-content: space-between;
          margin-top: 35px;
          width: 100%;
          @media (max-width: 650px) {
            margin-top: 10px;
          }
          @media (max-width: 450px) {
            display: flex;
            justify-content: flex-start;
            column-gap: 10px;
            width: auto;
          }
          span {
            font-family: Noto Sans;
            font-size: 20px;
            font-weight: 500;
            line-height: 27.24px;
            color: rgba(48, 48, 48, 1);
          }
        }
      }
      .container__item {
        .waiting {
          padding: 30px 22px 22px 30px;
          border: 1px solid rgba(224, 224, 224, 1);
          border-radius: 26px;
          margin-bottom: 34px;
          .waiting-title {
            display: flex;
            align-items: center;
            column-gap: 0px;
            h2 {
              font-family: Noto Sans;
              font-size: 22px;
              font-weight: 500;
              line-height: 29.96px;
              color: rgba(48, 48, 48, 1);
            }
            img {
              width: 30px;
              height: 38px;
            }
          }
        }
        .reservation-made {
          display: flex;
          flex-direction: column;
          row-gap: 6px;
          align-items: flex-start;
          margin-top: 20px;
          .reservation-subtitle {
            font-family: Noto Sans;
            font-size: 18px;
            font-weight: 400;
            line-height: 24.52px;
            color: rgba(97, 94, 94, 1);
          }
          .reservation-title {
            font-family: Noto Sans;
            font-size: 24px;
            font-weight: 600;
            line-height: 40px;
            color: rgba(48, 48, 48, 1);
          }
        }
        .form-trip {
          display: flex;
          flex-direction: column;
          border-bottom: 2px solid rgba(228, 228, 228, 1);
          padding-bottom: 53px;
          .form-title {
            font-family: Noto Sans;
            font-size: 24px;
            font-weight: 600;
            line-height: 40px;
            color: rgba(48, 48, 48, 1);
            margin-bottom: 20px;
          }
          .form-glavgroup {
            display: flex;
            flex-direction: column;
            row-gap: 34px;
            // position: relative;
          }
          .form-group {
            position: relative;
          }
          .form-group,
          .form-group-date {
            display: flex;
            align-items: flex-start;
            justify-content: space-between;
            width: 100%;
            @media (max-width: 450px) {
              display: flex;
              justify-content: flex-start;
              column-gap: 10px;
            }
            @media (max-width: 450px) {
              width: auto;
            }
            .edit {
              font-family: Noto Sans;
              font-size: 24px;
              font-weight: 600;
              line-height: 40px;
              color: rgba(48, 48, 48, 1);
              text-decoration: underline;
            }
            .guests-block {
              display: flex;
              flex-direction: column;
              row-gap: 6px;
              position: relative;
              .guests-subblock {
                .booking-dates {
                  h3 {
                    font-family: Noto Sans;
                    font-size: 24px;
                    font-weight: 400;
                    line-height: 32.69px;
                    color: rgba(97, 94, 94, 1);
                  }
                }
              }
              .adults-count,
              .children-count {
                font-family: Noto Sans;
                font-size: 24px;
                font-weight: 400;
                line-height: 40px;
                color: rgba(97, 94, 94, 1);
              }
            }
            .form-group-title {
              font-family: Noto Sans;
              font-size: 24px;
              font-weight: 600;
              line-height: 40px;
              color: rgba(48, 48, 48, 1);
            }
            .guests-modal {
              position: absolute;

              z-index: 15;
              left: 100px;
              bottom: 225px;
              width: 100%;
              height: 100%;
              display: flex;
              flex-direction: column;
              row-gap: 20px;
              border-radius: 20px;
              .guest-type {
                margin: 10px 0;
                .counter {
                  display: flex;
                  column-gap: 10px;
                  align-items: center;
                }
              }
              .modal-content {
                background-color: #fefefe;
                border-radius: 20px;
                margin: auto;
                padding: 20px;
                .close-button {
                  color: #aaa;
                  float: right;
                  font-size: 28px;
                  font-weight: bold;
                }

                .counter-button {
                  width: 70px;
                  font-size: 24px;
                  padding: 0 10px;
                  color: $white;
                  cursor: pointer;
                  background-color: $darkPearl;
                  border: none;
                  outline: none;
                  border-radius: 7px;
                }
              }
            }
          }
        }
      }
    }
  }
}
