@import "../../style/vars";
.service {
  background-image: url(../../../public/about-service.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 661px;
  position: relative;
  @media (max-width: 700px) {
   height: 400px;
  }
  .service-glavitem {
    position: absolute;
    width: 621px;
    height: 659px;
    background-color: $white;
    border-radius: 23px;
    left: 97px;
    top: -54px;
    padding: 60px;
    display: flex;
    flex-direction: column;
    @media (max-width: 1000px) {
      left: 30px;
    }
    @media (max-width: 700px) {
      padding: 20px;
      height: auto;
      width: auto;
    }
    @media(max-width:500px){
      left: 20px;
    }
    .service-subtitle {
      color: $grey;
      font-family: "Inter", sans-serif;
      font-size: 24px;
      font-weight: 500;
      line-height: 29.05px;
      margin-bottom: 11px;
      @media (max-width: 700px) {
        margin-bottom: 0px;
        font-size: 15px;
      }
    }
    .service-title {
      color: $greyBold;
      font-family: "Inter", sans-serif;
      font-size: 32px;
      font-weight: 600;
      line-height: 38.73px;
      margin-bottom: 23px;
      @media (max-width: 700px) {
        margin-bottom: 5px;
        font-size: 20px;
      }
    }
    .service-description {
      display: flex;
      flex-direction: column;
      row-gap: 23px;
      @media (max-width: 700px) {
        row-gap: 0px;
      }
      .service-description-item {
        display: flex;
        align-items: center;
        column-gap: 16px;
        padding: 16px 0;
        @media (max-width: 700px) {
         padding: 8px 0;
        }
        img {
          width: 60px;
          height: 60px;
          @media (max-width: 700px) {
            width: 32px;
            height: 32px;
           }
        }
        span {
          font-family: "Noto Sans", sans-serif;
          font-size: 22px;
          font-weight: 400;
          line-height: 29.96px;
          color: $lightGrey;
          @media(max-width:700px) {
            font-size: 15px;
          }
        }
      }
    }
  }
}
