@import "../../style/vars";
.complex {
  padding: 111px 111px 151px 124px;
  position: relative;
  @media(max-width: 800px){
    padding: 20px;
  }
  .complex-description {
    max-width: 754px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    row-gap: 0;
    .complex-title {
      color: $greyBold;
      font-family: "Noto Sans", sans-serif;
      font-size: 40px;
      font-weight: 700;
      line-height: 40px;
      margin-bottom: 20px;
       @media(max-width: 600px){
       font-size: 14px;
        margin-bottom: 10px;
      line-height: 15px;
      }
      @media(max-width: 450px){
         margin-bottom: 0px;
       }
    }
    .complex-subtitle {
      font-family: "Noto Sans", sans-serif;
      font-size: 22px;
      font-weight: 400;
      line-height: 29.96px;
      color: $grey;
      @media(max-width: 600px){
        padding: 5px 0 5px 0;
        font-size: 12px;
        line-height: 15px;
      }
    }
    .complex-subtitle1 {
      margin-bottom: 0px;
    }
  }
  .complex-img {
    position: absolute;
    width: 502px;
    height: 813px;
    bottom: 0;
    right: 0;
  }
}
