// font-family: "Noto Sans", sans-serif;
// font-family: "Inter", sans-serif;
@import "../../style/vars";
.header {
  background-image: url(../../../public/header_bg.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 640px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  position: relative;
  .main_hero {
    .navbar {
      background-color: rgba(0, 0, 0, 0.5);
      .navbar__menu {
        ul {
          .navbar__menu-link:nth-child(1) {
            border-bottom: 2px solid rgba(198, 159, 118, 1);
          }
        }
      }
    }
  }
  .form {
    padding: 16px 20px 22px 28px;
    display: flex;
    justify-content: center;
    column-gap: 20px;
    align-items: flex-end;
    padding-bottom: 20px;
    background: rgba(1, 36, 42, 0.5);
    backdrop-filter: blur(5px);
    margin: 0 auto;
    margin-bottom: 22px;
    border-radius: 30px;
    max-width: 875px;
    width: 100%;
    @media (max-width: 900px) {
      max-width: 90%;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      row-gap: 20px;
    }
    .form-group {
      display: flex;
      align-items: flex-start;
      flex-direction: column;
      row-gap: 8px;
      label {
        font-family: "Noto Sans", sans-serif;
        font-size: 18px;
        font-weight: 400;
        line-height: 30px;
        color: $white;
      }
      .input {
        width: 168px;
        text-align: center;
        height: 60px;
        background-color: $white;
        border-radius: 20px;
        border: none;
        outline: none;
        ::placeholder {
          font-family: "Noto Sans", sans-serif;
          font-size: 18px;
          font-weight: 400;
          line-height: 30px;
          color: $pearl;
        }
      }
      .input-adult {
        width: 258px;
        padding: 15px 30px;
      }
      .booking-form {
        position: relative;
        .guests-block {
          display: flex;
          align-items: center;
          background-color: $white;
          border-radius: 20px;
          cursor: pointer;
          padding: 15px 30px;
          column-gap: 8px;
          span {
            font-family: "Noto Sans", sans-serif;
            font-size: 18px;
            font-weight: 400;
            line-height: 30px;
          }
        }
        .guests-modal {
          position: absolute;
          margin-bottom: 20px;
          z-index: 15;
          left: 0;
          top: -250px;
          width: 100%;
          height: 100%;
          background-color: rgba(0, 0, 0, 0.4);
          display: flex;
          flex-direction: column;
          row-gap: 20px;
          border-radius: 20px;
          .guest-type {
            margin: 10px 0;
            .counter {
              display: flex;
              column-gap: 10px;
              align-items: center;
            }
          }
          .modal-content {
            background-color: #fefefe;
            border-radius: 20px;
            margin: auto;
            padding: 20px;
            .close-button {
              color: #aaa;
              float: right;
              font-size: 28px;
              font-weight: bold;
            }

            .counter-button {
              width: 70px;
              font-size: 24px;
              padding: 0 10px;
              color: $white;
              cursor: pointer;
              background-color: $darkPearl;
              border: none;
              outline: none;
              border-radius: 7px;
            }
          }
        }
      }
    }
    .submit-btn {
      background: #026070;
      border-radius: 18px;
      padding: 16px 25px;
      border: none;
      .submit-btn-link {
        text-decoration: none;
        color: $white;
        font-family: "Noto Sans", sans-serif;
        font-size: 20px;
        font-weight: 500;
        line-height: 27.24px;
      }
    }
  }
}
