.room__glavitem{
    display: flex;
    flex-direction: column;
    row-gap: 50px;
    align-items: flex-start;
    .room{
        width: 70%;
        display: flex;
        align-items: flex-start;
        column-gap: 20px;
        flex-direction: row;
        img{
            width: 500px;
            height: 200px;
        }
        .room-description{
            display: flex;
            flex-direction: column;
            row-gap: 10px;
        }
    }
}